# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MeteorInboundExample.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\IntegrationModding\MeteorInboundExample\.idea\.idea.MeteorInboundExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
